[mysqld]
# 设置master机器的ID
server-id=1
# 开启binary log并指定binary log的文件名前缀为master-bin
log-bin=master-bin
# 复制过滤：指定哪个数据库不用同步（mysql库一般不同步）
binlog-ignore-db=mysql  
log-slave-updates=1
datadir=/var/lib/mysql/

innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_buffer_pool_size = 1G
innodb_log_file_size = 128M

skip-host-cache
skip-name-resolve